.gameboard{
    position: relative;
    left: 40%;
    width: 200px;
    height: 200px;
    display: grid;
    border: solid;
    background: lightgray;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}
.winscreen{
    left: 40%;
    font-size: 100px;
    background-color: lightsteelblue;
    text-align:center;
}
.gameboard > div {
    border: solid;
    border-color: black;
    font-size: 40px;
    text-align: center;
    background: lightgray;
    cursor: pointer;
}
.gameboard > div:hover {
    background-color: white;
}

.gametitle {
    position: relative;
    left: 40%;
    font-size: 35px;
}

.players {
    top: 40%; 
        left: 30%; 
        display: block;
        position: absolute;
        background-color: lightgray;
        border: solid;
        width: 350px;
        height:  110px;

}
.players > p {
    text-align: center;
}
input {
    display: flex;
    width: 150px;
    text-align: center;
    background: transparent;
}
input:focus, input:focus{
    outline: none;
}
.inputone {
    position: absolute;
    top: 10%;
    left: 10%;
}
.inputtwo {
    position: absolute;
    top: 10%;
    left: 75%;
}
footer {
    position: absolute;
    bottom: 10px;
    background-color: rgb(32, 69, 99);
    color:white;
    font-weight: bold;
    width: 100%;
    font-size: 10px;
    text-align:center;
}
header{
    background-color: rgb(32, 69, 99);
    color:white;
    font-weight: bold;
    width: 100%;
    font-size: 10px;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color:orange;
}

.reset {
    position: relative;
    left: 40%;
    top: 10px;
    height: 50px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-color: black;
    color: white;
    background-color: rgb(32, 69, 99);
    cursor: pointer;
    font-size: 20px;

}
.reset:hover {
    background-color: lightseagreen;
}